<h2>Products</h2>
<div class="products-grid">
<div *ngFor="let product of products" class="product-item">
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      <div class="product-image-wrapper">
        <span class="product-image">
          <img src="./assets/img/{{ product.image }}"/>
        </span>
      </div>
    </a>
    <a class="product-title"
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
      >{{ product.name }}
    </a>
    <button type="button" (click)="addToCart(product)" class="add-to-cart">Add to cart</button>
    <div class="product-price">
      <span class="price">CA${{ product.price }}</span>
    </div>
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
</div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
